.container {
  display: flex;
}
.itemCart {
  width: 80%;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
  border-collapse: collapse;
}

.itemCart tr td {
  padding: 8px 0;
}

.itemCart tr:nth-child(n + 3) {
  border-top: 1px solid rgb(224, 224, 224);
}
.itemCart td {
  font-size: 18px;
  text-align: center;
}
.left_text {
  text-align: left;
  width: 120px;
}
.left_text:nth-child(1) {
  padding-bottom: 16px;
}
.cc {
  width: 500px;
}
.itemCart img {
  display: inline-block;
  width: 120px;
  height: auto;
}

span:nth-child(odd) {
  cursor: pointer;
  padding: 0 24px;
  font-size: 24px;
  color: rgb(159, 167, 171);
}

.empty_cart {
  text-align: center;
}
.clear {
  cursor: pointer;
  padding: 16px;
}

.payment {
  width: 70%;
  margin: auto;
  text-align: right;
  font-size: 18px;
}
.Total{
  font-weight: bold;
  
}
.btn_buy button {
  margin-top: 8px;
  cursor: pointer;
  background-color: rgb(65, 131, 88);
  color: white;
  padding: 4px 16px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}
.btn_buy button:hover {
  opacity: 0.8;
}
